@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0;
    line-height: 1.5;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #555;
}

h1 {
    margin: .5rem 0 1rem;
}

h1, h2, h3, strong {
    font-weight: 500;
    color: #333;
}

a {
    color: #4169e1;
}

img {
    max-width: 100%;
}

header {
    position: sticky;
    top: 0;
}

input, textarea {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    outline-color: #87cefa;
}

input, textarea, button {
    box-sizing: border-box;
    padding: .25rem .5rem;
    font: inherit;
}

button {
    cursor: pointer;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, table thead {
    border: 1px solid #d3d3d3;
}

table tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

table th {
    text-align: left;
    font-weight: 500;
}

table th, table td {
    padding: 16px;
}

.navbar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.navbar a, .navbar form {
    margin: 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
}

.navbar-brand a {
    text-decoration: none;
    color: #333;
}

.navbar .navbar-button {
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
    outline: none;
}

.bar {
    height: 4px;
    background: #333;
    border-radius: 4px;
}

.navbar .navbar-button:focus ~ .navbar-menu {
    position: absolute;
    top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.navbar .navbar-menu {
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

.pagination {
    margin: 1rem;
    text-align: center;
}

.pagination a {
    margin: .5rem;
}

.btn {
    font-weight: 500;
    background: #fff;
    color: #555;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

.text-success {
    color: #008000;
}

.text-error {
    color: #ff0000;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form input, .contact-form textarea, .post-form input:not([type="checkbox"]), .post-form textarea {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .navbar .navbar-button {
        display: none;
    }
    .navbar .navbar-menu {
        display: flex;
        align-items: center;
    }
}